# System deps (Ubuntu/Debian):
# sudo apt install -y portaudio19-dev libsndfile1 python3-dev build-essential

faiss-cpu==1.13.2
numpy==2.2.6
openai==2.14.0
opencv-python==4.12.0.88
playsound==1.2.2
PyAudio==0.2.14
sounddevice==0.4.7
soundfile==0.12.1
SpeechRecognition==3.14.1
langdetect==1.0.9
websocket-client==1.8.0
